<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row px-5 py-5">
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box mx-1 py-3 text-center">
                        <a routerLink="/products/{{ tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" class="img-responsive" style="width: 100%; height: 250px; object-fit: contain;" alt="">
                        </a>
                        <a routerLink="/products/{{ tempProduct.id}}">
                            <p>{{tempProduct.name}}</p>
                        </a>
                        <p><strong>{{tempProduct.unitPrice | currency:'USD'}}</strong></p>
                    </div>
                </div>
                <!-- if product list is empty -->
                <div *ngIf="products.length == 0" class="col-md-12">
                    <div class="alert alert-danger">No products found</div>
            </div>
        </div>
    </div>
</div>