<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row px-5 py-5">
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box mx-1 py-3 text-center">
                        <a routerLink="/products/{{ tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" class="img-responsive" style="width: 100%; height: 250px; object-fit: contain;" alt="">
                        </a>
                        <a routerLink="/products/{{ tempProduct.id}}">
                            <p>{{tempProduct.name}}</p>
                        </a>
                        <p><strong>{{tempProduct.unitPrice | currency:'USD'}}</strong></p>
                        <div *ngIf="tempProduct.active">
                            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                        </div>
                        <div *ngIf="!tempProduct.active">
                            <button class="btn btn-secondary btn-sm">out of stock</button>
                        </div>
                    </div>
                </div>
                <!-- if product list is empty -->
                <div *ngIf="products.length == 0" class="col-md-12">
                    <div class="alert alert-danger">No products found</div>
                </div>
                <div class="text-center px-0 row" style="margin-left: 50%">

                    <ngb-pagination [(page)]="thePageNumber"
                                    [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements"
                                    [maxSize]="8"
                                    [boundaryLinks]="true"
                                    (pageChange)="listProducts()"
                                    
                                    class="mx-0 px-0">

                    </ngb-pagination>
                    <div class="col-md-3 mx-1 my-0" style="text-align: right;">
                        <span class="mx-3">Page Size</span>
                        <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                            <option selected="true" value="8">8</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                </div>
               <!-- page size selecting dropdown menu -->
        </div>
    </div>

</div>