<div *ngIf="cartItems.length > 0">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price & Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempCartItem of cartItems" class="text-center">
        <td class="align-items-center">
          {{ tempCartItem.id }}
        </td>
        <td>
          <img
            *ngIf="tempCartItem"
            src="{{ tempCartItem.imageUrl }}"
            class="img-responsive"
            style="width: 100%; height: 250px; object-fit: contain"
            alt=""
          />
        </td>
        <td>
          {{ tempCartItem.name }}
        </td>
        <td>
          {{ tempCartItem.unitPrice | currency : "USD" }}
        </td>
        <td>
          Total Price:
          {{
            tempCartItem.quantity * tempCartItem.unitPrice | currency : "USD"
          }}
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button
                (click)="decrementUnits(tempCartItem)"
                class="btn btn-primary mx-3"
              >
                -
              </button>
              <p>Quantity: {{ tempCartItem.quantity }}</p>
              <button
                (click)="incrementUnits(tempCartItem)"
                class="btn btn-primary mx-3"
              >
                +
              </button>
            </div>
            <div class="mt-5">
              <button
                (click)="remove(tempCartItem)"
                class="btn btn-danger mx-3"
              >
                Remove
              </button>
            </div>
          </div>
        </td>
      </tr>
      <div class="">
        <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
        <p>Total Quantity: {{ totalQuantity }}</p>
        <p>Shipping: FREE</p>
        <p>Tax: {{ totalPrice * 0.1 | currency : "USD" }}</p>
        <p>
          Grand Total: {{ totalPrice + totalPrice * 0.1 | currency : "USD" }}
        </p>
        <button routerLink="/checkout" class="btn btn-primary">Checkout</button>
      </div>
    </tbody>
  </table>
</div>
<div *ngIf="cartItems.length == 0" class="text-center my-5 alert alert-light">
  <h3>Your cart is empty!</h3>
</div>
