/* Color Palette */
:root {
  --primary-color: #efd9cc;
  --secondary-color: #06413d;
  --tertiary-color: #ffc857;
  --success-color: #00ff00;
  --danger-color: #ef3e36;
}

/* Global Styles */
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button {
  background-color: var(--success-color);
  color: white;
}

.alert {
  background-color: var(--danger-color);
  color: white;
}
