<hr>
<!-- Customer -->
      <form [formGroup]="checkoutFormGroup" action="" (ngSubmit)="onSubmit()" class="container">
        <div class="left-side">
            <div formGroupName="customer">
              <h3>Customer</h3>
              <div>
                <div>
                  <div><label>First Name:</label></div>
                  <div>
                    <input formControlName="firstName" type="text" required />
                    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger my-5">
                      <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['minlength'] || firstName?.errors?.['notOnlyWhitespace']">
                        First Name is required and must be at least 2 characters long
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>Last Name</label></div>
                  <div>
                    <input
                      type="text"
                      formControlName="lastName"
                      id="lastName"
                      required
                    />
                    <div
                      *ngIf="
                        lastName?.invalid && (lastName?.dirty || lastName?.touched)
                      "
                      class="alert alert-danger my-5"
                    >
                      <div
                        *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['minlength'] || lastName?.errors?.['notOnlyWhitespace']"
                      >
                        Last Name is required and must be at least 2 characters long
                      </div>
                      <!-- <div *ngIf="lastName?.errors?.['minlength']">Last Name must be at least 2 characters long</div> -->
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>Email</label></div>
                  <div>
                    <input type="text" formControlName="email" id="email" required />
                    <div
                      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                      class="alert alert-danger my-5"
                    >
                      <div
                        *ngIf="email?.errors?.['required'] || email?.errors?.['pattern']"
                      >
                        Email is required and must be a vaild format
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Customer -->
            <!-- Shipping Address -->
            <div formGroupName="shippingAddress">
              <h3 class="shipping-address">Shipping Address</h3>
              <div>
            
                <div>
                  <div><label>Country</label></div>
                  <select
                    formControlName="country"
                    id=""
                    (change)="getStates('shippingAddress')"
                  >
                    <option *ngFor="let country of countries" [ngValue]="country">
                      {{ country.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      shippingAddressCountry?.invalid &&
                      (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)
                    "
                    class="alert alert-danger my-5"
                  >
                    <div *ngIf="shippingAddressCountry?.errors?.['required']">
                      Country is required
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>Street</label></div>
                  <div>
                    <input
                      type="text"
                      formControlName="street"
                      id="firstName"
                      required
                    />
                  </div>
                  <div
                    *ngIf="
                      shippingAddressStreet?.invalid &&
                      (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)
                    "
                    class="alert alert-danger my-5"
                  >
                    <div
                      *ngIf="shippingAddressStreet?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
                    >
                      Street is required
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>City</label></div>
                  <div>
                    <input type="text" formControlName="city" id="firstName" required />
                  </div>
                  <div
                    *ngIf="
                      shippingAddressCity?.invalid &&
                      (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                    "
                    class="alert alert-danger my-5"
                  >
                    <div
                      *ngIf="shippingAddressCity?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
                    >
                      City is required
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>States</label></div>
                  <select formControlName="state" id="">
                    <option
                      *ngFor="let state of shippingAddressStates"
                      [ngValue]="state"
                    >
                      {{ state.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      shippingAddressState?.invalid &&
                      (shippingAddressState?.dirty || shippingAddressState?.touched)
                    "
                    class="alert alert-danger my-5"
                  >
                    <div
                      *ngIf="shippingAddressState?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
                    >
                      State is required
                    </div>
                  </div>
                </div>
                <div>
                  <div><label>Zip-Code</label></div>
                  <div>
                    <input
                      type="text"
                      formControlName="zipCode"
                      id="firstName"
                      required
                    />
                  </div>
                  <div
                    *ngIf="
                      shippingAddressZipCode?.invalid &&
                      (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)
                    "
                    class="alert alert-danger my-5"
                  >
                    <div
                      *ngIf="shippingAddressZipCode?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
                    >
                      Zip-Code is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Shipping Address -->
            <!-- Coppy Billing Address to Shipping Address -->
            <div class="address-checkbox">
              <label>
                <input
                  class="checkbox mx-2"
                  type="checkbox"
                  id="flexCheckDefault"
                  (change)="copyShippingAddressToBillingAddress($event)"
                />
                <span>Billing Address same as Shipping Address</span>
              </label>
            </div>
            <!-- Coppy Billing Address to Shipping Address -->
            <!-- Billing Address -->
            <div formGroupName="billingAddress">
              <h3 class="billing-address">Billing Address</h3>
              <div>
                <div>
                  <div><label>Country</label></div>
                  <select
                    formControlName="country"
                    id=""
                    (change)="getStates('billingAddress')"
                  >
                    <option *ngFor="let country of countries" [ngValue]="country">
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                <div>
                  <div><label>Street</label></div>
                  <div>
                    <input
                      type="text"
                      formControlName="street"
                      id="firstName"
                      required
                    />
                  </div>
                </div>
                <div>
                  <div><label>City</label></div>
                  <div>
                    <input type="text" formControlName="city" id="firstName" required />
                  </div>
                </div>
                <div>
                  <div><label>States</label></div>
                  <select formControlName="state">
                    <option
                      *ngFor="let state of billingAddressStates"
                      [ngValue]="state"
                    >
                      {{ state.name }}
                    </option>
                  </select>
                </div>
                <div>
                  <div><label>Zip-Code</label></div>
                  <div>
                    <input
                      type="text"
                      formControlName="zipCode"
                      id="firstName"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Billing Address -->
        </div>
    
        <!-- Credit Card -->
        <div formGroupName="creditCard" class="right-side">
          <h3 class="credit-card">Credit Card</h3>
          <div>
            <div>
              <div><label for="creditCardType">Credit Card Type</label></div>
              <select formControlName="cardType">
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
              </select>
              <div *ngIf="creditCardType?.invalid &&(creditCardType?.dirty || creditCardType?.touched)"class="alert alert-danger my-5">
                <div *ngIf="creditCardType?.errors?.['required']">
                  Credit Card Type is required
                </div>
              </div>
            </div>
            <div>
              <div><label>Card Holder Name</label></div>
              <input type="text" formControlName="nameOnCard" />
            </div>
            <div
              *ngIf="
                creditCardNameOnCard?.invalid &&
                (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)
              "
              class="alert alert-danger my-5"
            >
              <div
                *ngIf="creditCardNameOnCard?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
              >
                Card Holder Name is required
              </div>
            </div>
            <div>
              <div><label>Credit Card Number</label></div>
              <input type="text" formControlName="cardNumber" />
              <div
                *ngIf="
                  creditCardcardNumber?.invalid &&
                  (creditCardcardNumber?.dirty || creditCardcardNumber?.touched)
                "
                class="alert alert-danger my-5"
              >
                <div
                  *ngIf="creditCardNameOnCard?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']"
                >
                  Card Number is required
                </div>
              </div>
            </div>
            <div>
              <div><label>Expiration Month</label></div>
              <select formControlName="expirationMonth">
                <option *ngFor="let Month of creditCardMonths">
                  {{ Month }}
                </option>
              </select>
            </div>
            <div>
              <div><label>Expiration Year</label></div>
              <select
                formControlName="expirationYear"
                (change)="handleMonthsAndYears()"
              >
                <option *ngFor="let Year of creditCardYears">
                  {{ Year }}
                </option>
              </select>
            </div>
            <div>
              <div><label>Security Code</label></div>
              <input type="text" formControlName="securityCode" />
              <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardType?.touched)"
                class="alert alert-danger my-5">
                <div *ngIf="creditCardSecurityCode?.errors?.['required'] || ['minlength'] || ['notOnlyWhitespace']">
                  Security Code and Expiration Month/Year are required
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Credit Card -->
        <div class="right-side">
            <!-- Order Summary -->
            <div>
                <h3 class="order-summary">Order Summary</h3>
                <div>
                    <div>
                        <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
                        <p>Total Quantity: {{ totalQuantity }}</p>
                        <p>Shipping: FREE</p>
                        <p>Tax: {{ totalPrice * 0.1 | currency : "USD" }}</p>
                        <p>
                            Grand Total: {{ totalPrice + totalPrice * 0.1 | currency : "USD" }}
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-submit">Submit</button>
            <!-- Order Summary -->
        </div>
    </form>
    