<div class="my-5 text-center">
    <form [formGroup]="checkoutFormGroup" action="" class="" (ngSubmit)="onSubmit()">
        
        <!-- Customer -->
        <div formGroupName="customer" class="border">
            <h3>Customer</h3>
            <div style="width: 30%; margin-left: 30%;" class="text-center my-5">
                <div class="row my-2">
                    <div class="col-md-3"><label>First Name</label></div>
                    <div class="col-md-9"><input type="text" formControlName="firstName" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Last Name</label></div>
                    <div class="col-md-9"><input type="text" formControlName="lastName" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Email</label></div>
                    <div class="col-md-9"><input type="text" formControlName="email" class="form-control" id="firstName" required></div>
                </div>
            </div> 
        </div>
        <!-- Customer -->

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress">
            <h3>Shipping Address</h3>
            <div style="width: 30%; margin-left: 30%;" class="text-center my-5">
                <div class="row my-2">
                    <div class="col-md-3"><label>Country</label></div>
                    <select formControlName="country" id="">
                        <option value="United States">United States</option>
                        <option value="India">India</option>
                        <option value="Australia">Australia</option>
                        <option value="Germany">Germany</option>
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Street</label></div>
                    <div class="col-md-9"><input type="text" formControlName="street" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>City</label></div>
                    <div class="col-md-9"><input type="text" formControlName="city" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>States</label></div>
                    <select formControlName="state" id="">
                        <option value="California">California</option>
                        <option value="Texas">Texas</option>
                        <option value="Florida">Florida</option>
                        <option value="New York">New York</option>
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Zip-Code</label></div>
                    <div class="col-md-9"><input type="text" formControlName="zipCode" class="form-control" id="firstName" required></div>
                </div>
            </div>
        </div>
        <!-- Shipping Address -->

        <!-- Coppy Billing Address to Shipping Address -->
        <div style="width: 30%; margin-left: 30%;" class="text-center my-5">
            <label for="">
                <input type="checkbox" id="flexCheckDefault" (change)="copyShippingAddressToBillingAddress($event)">
                <span class="">Billing Address same as Shipping Address</span>
            </label>
        </div>
        <!-- Coppy Billing Address to Shipping Address -->

        <!-- Billing Address -->
        <div formGroupName="billingAddress">
            <h3>Billing Address</h3>
            <div style="width: 30%; margin-left: 30%;" class="text-center my-5">
                <div class="row my-2">
                    <div class="col-md-3"><label>Country</label></div>
                    <select formControlName="country" id="">
                        <option value="United States">United States</option>
                        <option value="India">India</option>
                        <option value="Australia">Australia</option>
                        <option value="Germany">Germany</option>
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Street</label></div>
                    <div class="col-md-9"><input type="text" formControlName="street" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>City</label></div>
                    <div class="col-md-9"><input type="text" formControlName="city" class="form-control" id="firstName" required></div>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>States</label></div>
                    <select formControlName="state" id="">
                        <option value="California">California</option>
                        <option value="Texas">Texas</option>
                        <option value="Florida">Florida</option>
                        <option value="New York">New York</option>
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col-md-3"><label>Zip-Code</label></div>
                    <div class="col-md-9"><input type="text" formControlName="zipCode" class="form-control" id="firstName" required></div>
                </div>
            </div>
        </div>
        <!-- Billing Address -->

        <!-- Credit Card -->

        <div formGroupName="creditCard" style="width: 30%; margin-left: 30%;" class="text-center my-5">
            <h3>Credit Card</h3>
            <div class="text-center my-5">
                <div>
                    <label for="creditCardType">Credit Card Type</label>
                    <select formControlName="creditCardType">
                        <option value="Visa">Visa</option>
                        <option value="MasterCard">MasterCard</option>
                        <option value="American Express">American Express</option>
                        <option value="Discover">Discover</option>
                    </select>
                </div>
                <div>
                    <label>Card Holder Name</label>
                    <input type="text" formControlName="nameOnCard" class="">
                </div>
                <div>
                    <label>Credit Card Number</label>
                    <input type="text" formControlName="cardNumber" class="">
                </div>
                <div>
                    <label>Expiration Month</label>
                    <select formControlName="expirationMonth">
                        <option *ngFor="let Month of creditCardMonths">
                            {{Month}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Expiration Year</label>
                    <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                        <option *ngFor="let Year of creditCardYears">
                            {{Year}}
                        </option>

                    </select>
                </div>
                <div>
                    <label>Security Code</label>
                    <input type="text" formControlName="securityCode" class="">
                </div>
            </div>
        </div>
        <!-- Credit Card -->   
    </form>
        <!-- Order Summary -->
        <div>
            <h3>Order Summary</h3>
            <div class="text-center my-5">
                <div>
                    <p>Total Price: {{totalPrice | currency:'USD'}}</p>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Tax: {{totalPrice * 0.1 | currency:'USD'}}</p>
                    <p>Grand Total: {{totalPrice + (totalPrice * 0.1) | currency:'USD'}}</p>
                </div>
        </div>
        <!-- Order Summary -->

        <!-- Displaying a variable from the cart-details component -->

        
        <!-- Submit Button -->
</div>